.fcnsss,.fcnccc,.fcnscc,.fcncsc,.fcnccs,.fcncss,.fcnscs,.fcnssc,
.fcwsss,.fcwccc,.fcwscc,.fcwcsc,.fcwccs,.fcwcss,.fcwscs,.fcwssc,
.frnsss,.frnccc,.frnscc,.frncsc,.frnccs,.frncss,.frnscs,.frnssc,
.frwsss,.frwccc,.frwscc,.frwcsc,.frwccs,.frwcss,.frwscs,.frwssc,
.frnecc{
  display:-webkit-flex;
  display:flex;
}
.fcnsss,.fcnccc,.fcnscc,.fcncsc,.fcnccs,.fcncss,.fcnscs,.fcnssc{
  -webkit-flex-flow:column nowrap;
  flex-flow:column nowrap;
}
.fcwsss,.fcwccc,.fcwscc,.fcwcsc,.fcwccs,.fcwcss,.fcwscs,.fcwssc{
  -webkit-flex-flow:column wrap;
  flex-flow:column wrap;
}
.frnsss,.frnccc,.frnscc,.frncsc,.frnccs,.frncss,.frnscs,.frnssc,
.frnecc{
  -webkit-flex-flow:row nowrap;
  flex-flow:row nowrap;
}
.frwsss,.frwccc,.frwscc,.frwcsc,.frwccs,.frwcss,.frwscs,.frwssc{
  -webkit-flex-flow:row wrap;
  flex-flow:row wrap;
}
.fcnsss,.fcnscc,.fcnscs,.fcnssc,
.fcwsss,.fcwscc,.fcwscs,.fcwssc,
.frnsss,.frnscc,.frnscs,.frnssc,
.frwsss,.frwscc,.frwscs,.frwssc{
  -webkit-justify-content:flex-start;
  justify-content:flex-start;
}
.fcncss,.fcnccc,.fcnccs,.fcncsc,
.fcwcss,.fcwccc,.fcwccs,.fcwcsc,
.frncss,.frnccc,.frnccs,.frncsc,
.frwcss,.frwccc,.frwccs,.frwcsc{
  -webkit-justify-content:center;
  justify-content:center;
}
.frnecc{
  -webkit-justify-content:flex-end;
  justify-content:flex-end;
}
.fcnsss,.fcncsc,.fcncss,.fcnssc,
.fcwsss,.fcwcsc,.fcwcss,.fcwssc,
.frnsss,.frncsc,.frncss,.frnssc,
.frwsss,.frwcsc,.frwcss,.frwssc{
  -webkit-align-content:flex-start;
  align-content:flex-start;
}
.fcnccc,.fcnscc,.fcnccs,.fcnscs,
.fcwccc,.fcwscc,.fcwccs,.fcwscs,
.frnccc,.frnscc,.frnccs,.frnscs,
.frwccc,.frwscc,.frwccs,.frwscs,
.frnecc{
  -webkit-align-content:center;
  align-content:center;
}
.fcnsss,.fcnccs,.fcncss,.fcnscs,
.fcwsss,.fcwccs,.fcwcss,.fcwscs,
.frnsss,.frnccs,.frncss,.frnscs,
.frwsss,.frwccs,.frwcss,.frwscs{
  -webkit-align-items:flex-start;
  align-items:flex-start;
}
.fcnccc,.fcnscc,.fcncsc,.fcnssc,
.fcwccc,.fcwscc,.fcwcsc,.fcwssc,
.frnccc,.frnscc,.frncsc,.frnssc,
.frwccc,.frwscc,.frwcsc,.frwssc,
.frnecc{
  -webkit-align-items:center;
  align-items:center;
}
